In [136]:
import jaqs_fxdayu
from jaqs_fxdayu.data import DataView
from jaqs_fxdayu.data.dataservice import LocalDataService
from jaqs_fxdayu.data import RemoteDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [13]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20130101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [137]:
data_config = {
    "remote.data.address": "tcp://data.tushare.org:8910",
    "remote.data.username": "13662241013",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow"
}
Ds=RemoteDataService()
Ds.init_from_config(data_config)

Begin: DataApi login 13662241013@tcp://data.tushare.org:8910
    login success

'0,'

In [14]:
dataview_folder='G:\GSICE\DATA\data'
dv=DataView()
ds=LocalDataService(fp=dataview_folder)

In [15]:
'''
factor_list = ['volume','tot_profit','plus_non_oper_rev','less_non_oper_exp','net_cash_flows_oper_act',
              'total_oper_rev','tot_oper_cost','fin_exp','less_selling_dist_exp','less_gerl_admin_exp',
              'oper_rev','less_oper_cost','pe','turnover']
'''
factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': 20130101, 'end_date': 20180101, 'symbol':','.join(stock_symbol),'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'close_adj,high,trade_status,trade_date,vwap,open_adj,high_adj,vwap_adj,low,open,close,symbol,low_adj,volume'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'high,vwap,low,open,close,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

1.NetNonOIToTP

In [16]:
dv.add_field('tot_profit',ds)
dv.add_field('plus_non_oper_rev',ds)
dv.add_field('less_non_oper_exp',ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

True

In [202]:
dv.add_formula('NetNonOIToTP','(plus_non_oper_rev-less_non_oper_exp)/tot_profit',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,0.00388,0.001598,0.001366,-0.000525,0.088436,0.164666,0.323238,NaN,0.001316,0.363765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023256
20130107,0.00388,0.001598,0.001366,-0.000525,0.088436,0.164666,0.323238,NaN,0.001316,0.363765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023256
20130108,0.00388,0.001598,0.001366,-0.000525,0.088436,0.164666,0.323238,NaN,0.001316,0.363765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023256
20130109,0.00388,0.001598,0.001366,-0.000525,0.088436,0.164666,0.323238,NaN,0.001316,0.363765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023256
20130110,0.00388,0.001598,0.001366,-0.000525,0.088436,0.164666,0.323238,NaN,0.001316,0.363765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.023256

2.NOCFToOperatingNILatest

In [25]:
fields2=['net_cash_flows_oper_act','total_oper_rev','tot_oper_cost']
for field in fields2:
    dv.add_field(field,ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

In [26]:
dv.add_formula('NOCFToOperatingNILatest','net_cash_flows_oper_act/(total_oper_rev-tot_oper_cost)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,6.196229,-0.466032,3.222938,-49.202845,2.409606,3.318395,0.303226,NaN,0.809506,1.678818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.201512
20130107,6.196229,-0.466032,3.222938,-49.202845,2.409606,3.318395,0.303226,NaN,0.809506,1.678818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.201512
20130108,6.196229,-0.466032,3.222938,-49.202845,2.409606,3.318395,0.303226,NaN,0.809506,1.678818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.201512
20130109,6.196229,-0.466032,3.222938,-49.202845,2.409606,3.318395,0.303226,NaN,0.809506,1.678818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.201512
20130110,6.196229,-0.466032,3.222938,-49.202845,2.409606,3.318395,0.303226,NaN,0.809506,1.678818,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.201512

3.PeriodCostsRate

In [28]:
fields3=['fin_exp','less_selling_dist_exp','less_gerl_admin_exp','oper_rev']
for field in fields3:
    dv.add_field(field,ds)

Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

In [30]:
dv.add_formula('PeriodCostsRate','(fin_exp+less_selling_dist_exp+less_gerl_admin_exp)/oper_rev',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,0.385591,0.080242,0.04248,0.434036,0.222693,0.104115,0.022062,NaN,0.151502,0.037383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075124
20130107,0.385591,0.080242,0.04248,0.434036,0.222693,0.104115,0.022062,NaN,0.151502,0.037383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075124
20130108,0.385591,0.080242,0.04248,0.434036,0.222693,0.104115,0.022062,NaN,0.151502,0.037383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075124
20130109,0.385591,0.080242,0.04248,0.434036,0.222693,0.104115,0.022062,NaN,0.151502,0.037383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075124
20130110,0.385591,0.080242,0.04248,0.434036,0.222693,0.104115,0.022062,NaN,0.151502,0.037383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.075124

4.DEGM

In [32]:
fields4=['oper_rev','less_oper_cost']
for field in fields4:
    dv.add_field(field,ds)

Field name [oper_rev] already exists.
Query data - query...
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.

In [283]:
dv.add_formula('DEGM','(oper_rev-less_oper_cost)/oper_rev-Delay((oper_rev-less_oper_cost)/oper_rev,365)',is_quarterly=False,add_data=True).tail()

Field [DEGM] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20171226,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20171227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20171228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20171229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

5.PEHist120

In [138]:
dv.add_field('pe',Ds)

Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'trade_date,pe,symbol'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.

True

In [143]:
dv.add_formula('PEHist120','120*pe/Ts_Sum(pe,120)',is_quarterly=False,add_data=True).tail()

Field [PEHist120] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.134437,1.145393,1.059396,1.018551,0.859807,0.986049,1.039089,NaN,0.849318,0.942117,...,1.111658,0.768525,1.065866,1.140283,0.953654,1.249304,1.007343,0.820928,1.195196,0.956117
20171226,1.165946,1.147903,1.058173,1.044575,0.863007,1.001418,1.053595,NaN,0.861817,0.944563,...,1.088333,0.789307,1.075605,1.132941,0.963078,1.293524,1.029647,0.843644,1.189484,0.950059
20171227,1.131213,1.156552,1.057047,1.039542,0.865177,0.991399,1.016931,NaN,0.861689,0.940858,...,1.079886,0.775205,1.064899,1.106853,0.979664,1.243492,1.011309,0.826478,1.167998,0.967790
20171228,1.121371,1.150834,1.055791,1.031105,0.863751,0.995926,1.043669,NaN,0.864163,0.940254,...,1.064975,0.774320,1.061803,1.110625,1.015156,1.224300,1.026068,0.842222,1.162149,1.030952
20171229,1.125962,1.162011,1.054538,1.040443,0.870866,1.026984,1.066866,NaN,0.867098,0.945867,...,1.073397,0.780390,1.064489,1.137602,1.008293,1.262302,1.059190,0.846923,1.192273,1.009097

6.Illiquidity

In [144]:
dv.add_field('turnover',ds)

Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_date,turnover,symbol,trade_status'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [148]:
dv.add_formula('Illiquidity','Ts_Sum(close/Delay(close,1)-1,20)/Ts_Sum(turnover,20)*Pow(10,9)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,0.022248,0.009800,0.117724,1.739091,0.070996,0.057561,0.061249,NaN,0.675278,0.164990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.047212
20130107,0.018888,0.008904,0.093253,1.532269,0.053337,0.041986,0.024594,NaN,0.524409,0.117566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.036608
20130108,0.016308,0.008158,0.095684,1.721650,0.051460,0.049804,0.070944,NaN,0.689820,0.106071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.042672
20130109,0.012235,0.009533,0.075732,1.442366,0.045656,0.038888,0.060292,NaN,0.483949,0.059362,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.032518
20130110,0.010555,0.008886,0.079915,1.333790,0.036275,0.049321,0.060326,NaN,0.478325,0.036956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.030379

7.NPParentCompanyCutYOY

In [151]:
#没有找到归属母公司股东的净利润（扣除）这个因子

8.alpha81

In [157]:
def SMA(Df,n,m):
    alpha=m/n
    return Df.ewm(alpha=alpha,adjust=False).mean()

In [159]:
dv.add_formula('alpha81','SMA(volume,21,2)',is_quarterly=False,add_data=True,
      register_funcs={'SMA':SMA}).head()

Field [alpha81] is overwritten.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,3.157091e+07,5.088198e+07,2.322221e+07,254870.086166,1.385272e+07,2.039469e+07,9.330403e+06,NaN,1.254286e+06,4.512182e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.187900e+07
20130107,3.196577e+07,4.603608e+07,2.227072e+07,253150.077960,1.377328e+07,1.973322e+07,8.999948e+06,NaN,1.200788e+06,4.501543e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.096706e+07
20130108,3.189740e+07,4.165169e+07,2.464501e+07,255346.356250,1.431024e+07,2.172921e+07,8.884598e+06,NaN,1.235263e+06,4.928730e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.080304e+07
20130109,3.125317e+07,3.768486e+07,2.437443e+07,292103.084226,1.532881e+07,2.115638e+07,8.843372e+06,NaN,1.305644e+06,5.038197e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000331e+07
20130110,3.056268e+07,3.409583e+07,2.425583e+07,311861.742871,1.567076e+07,2.241017e+07,8.762976e+06,NaN,1.308927e+06,5.260892e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.975971e+07

In [282]:
dv.save_dataview(dataview_folder)

Store data...
Dataview has been successfully saved to:
G:\GSICE\DATA\data

You can load it with load_dataview('G:\GSICE\DATA\data')

因子绩效
-----------

In [169]:
dv.add_field('sw1',ds)
dv.get_ts('sw1').head()

Field name [sw1] already exists.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,银行,房地产,房地产,休闲服务,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20130107,银行,房地产,房地产,休闲服务,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20130108,银行,房地产,房地产,休闲服务,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20130109,银行,房地产,房地产,休闲服务,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属
20130110,银行,房地产,房地产,休闲服务,综合,建筑材料,计算机,nan,汽车,公用事业,...,轻工制造,医药生物,食品饮料,家用电器,纺织服装,医药生物,交通运输,传媒,轻工制造,有色金属

In [ ]:
from jaqs_fxdayu.util import dp
from jaqs_fxdayu.data.dataapi import DataApi

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

start = 20130101
end = 20180101

In [193]:
id_member=dp.daily_index_cons(api,'000906.SH',start,end)
id_member.head()

,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,True,True,True,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20130107,True,True,True,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20130108,True,True,True,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20130109,True,True,True,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
20130110,True,True,True,False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [194]:
mask=~id_member

In [195]:
import numpy as np

def limit_up_down():
    trade_status = dv.get_ts('trade_status').fillna(0)
    mask_sus = trade_status == 0
    up_limit = dv.add_formula('up_limit', '(close - Delay(close, 1)) / Delay(close, 1) > 0.095', is_quarterly=False)
    down_limit = dv.add_formula('down_limit', '(close - Delay(close, 1)) / Delay(close, 1) < -0.095', is_quarterly=False)
    can_enter = np.logical_and(up_limit < 1, ~mask_sus) 
    can_exit = np.logical_and(down_limit < 1, ~mask_sus) 
    return can_enter,can_exit

In [196]:
can_enter,can_exit=limit_up_down()

In [206]:
alpha_signal=['NetNonOIToTP','NOCFToOperatingNILatest','PeriodCostsRate','DEGM','PEHist120','Illiquidity','alpha81']
price=dv.get_ts('close_adj')
sw1=dv.get_ts('sw1')
enter=can_enter
exit=can_exit
mask=mask

In [198]:
from jaqs_fxdayu.research.signaldigger.process import neutralize

In [207]:
neutralize_dict={a:neutralize(factor_df=dv.get_ts(a),group=dv.get_ts('sw1')) for a in alpha_signal}

In [213]:
import matplotlib.pyplot as plt
from jaqs_fxdayu.research import SignalDigger
from jaqs_fxdayu.research.signaldigger import analysis

def cal_obj(signal, name, period, quantile):
    obj = SignalDigger(output_folder="ZZ800/%s" % name,
                       output_format='pdf')
    obj.process_signal_before_analysis(signal,
                                   price=price,
                                   n_quantiles=quantile, period=period,
                                   mask=mask,
                                   group=sw1,
                                   can_enter = enter,
                                   can_exit = exit,
                                   commission = 0.0008
                                   )
    obj.create_full_report()
    return obj

def plot_pfm(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    plt.show()
def signal_data(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    return obj.signal_data

In [214]:
#因子行业市值中性化后(neutralize)求IC
signals_dict = {a:signal_data(neutralize_dict[a], a, 20) for a in alpha_signal}

Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
                 min         max      mean       std   count    count %
quantile
1        -406.417434   -0.039504 -1.037240  7.655002  181233  20.054398
2          -0.527248   -0.004536 -0.123875  0.057006  180742  20.000066
3          -0.219475   -0.000394 -0.043766  0.020132  180736  19.999402
4          -0.068228    0.193777  0.013995  0.029595  180742  20.000066
5           0.002505  222.433156  1.283931  4.971367  180254  19.946067
Figure saved: G:\GSICE\code\ZZ800\NetNonOIToTP\returns_report.pdf
Information Analysis
                ic
IC Mean      0.002
IC Std.      0.078
t-stat(IC)   0.702
p-value(IC)  0.483
IC Skew     -0.175
IC Kurtosis -0.382
Ann. IR      0.020
Figure saved: G:\GSICE\code\ZZ800\NetNonOIToTP\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
                   min            max       mean          std   count  \
quantile
1        -19390.879739      -1.059386 -43.870414   408.202619  181233
2            -9.336545       1.237491  -1.917093     1.587409  180742
3            -3.216501       5.806323   0.269574     1.054310  180736
4            -0.458129      28.617242   2.735906     2.815527  180742
5             1.171018  190986.153783  43.581166  1215.819985  180254

            count %
quantile
1         20.054398
2         20.000066
3         19.999402
4         20.000066
5         19.946067
Figure saved: G:\GSICE\code\ZZ800\NOCFToOperatingNILatest\returns_report.pdf
Information Analysis
                ic
IC Mean      0.012
IC Std.      0.065
t-stat(IC)   6.269
p-value(IC)  0.000
IC Skew      0.065
IC Kurtosis -0.125
Ann. IR      0.181
Figure saved: G:\GSICE\code\ZZ800\NOCFToOperatingNILatest\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
               min        max      mean       std   count    count %
quantile
1        -3.061285  -0.062356 -0.310885  0.380439  181206  20.055028
2        -0.186850  -0.027072 -0.071709  0.022824  180706  19.999690
3        -0.072560   0.002736 -0.029329  0.013959  180698  19.998805
4        -0.045153   0.052735  0.011669  0.015507  180706  19.999690
5         0.001170  61.930045  0.325581  2.402034  180228  19.946787
Figure saved: G:\GSICE\code\ZZ800\PeriodCostsRate\returns_report.pdf
Information Analysis
                ic
IC Mean      0.001
IC Std.      0.058
t-stat(IC)   0.389
p-value(IC)  0.697
IC Skew      0.113
IC Kurtosis  0.190
Ann. IR      0.011
Figure saved: G:\GSICE\code\ZZ800\PeriodCostsRate\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 43%


Value of signals of Different Quantiles Statistics
                   min           max      mean       std   count    count %
quantile
1        -2.801531e+00 -8.673617e-19 -0.214566  0.440321  129179  20.055612
2        -6.944411e-02  6.276991e-03 -0.029509  0.012895  128814  19.998944
3        -2.212041e-02  3.602871e-02 -0.001431  0.007261  128823  20.000342
4        -8.673617e-19  2.617612e+00  0.023412  0.013026  128814  19.998944
5         2.807104e-02  9.819696e+01  0.304417  2.815257  128474  19.946158
Figure saved: G:\GSICE\code\ZZ800\DEGM\returns_report.pdf
Information Analysis
                ic
IC Mean      0.005
IC Std.      0.070
t-stat(IC)   2.204
p-value(IC)  0.028
IC Skew     -0.230
IC Kurtosis  0.390
Ann. IR      0.075
Figure saved: G:\GSICE\code\ZZ800\DEGM\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%


Value of signals of Different Quantiles Statistics
                min         max      mean       std   count    count %
quantile
1        -21.259947   -0.022652 -0.635845  0.859441  168601  20.054096
2         -2.814783    0.031889 -0.160528  0.258410  168144  19.999738
3         -1.250298    0.120685 -0.032702  0.126400  168145  19.999857
4         -0.395801    0.328227  0.078507  0.074493  168144  19.999738
5         -0.053231  117.526691  0.666846  3.552973  167697  19.946570
Figure saved: G:\GSICE\code\ZZ800\PEHist120\returns_report.pdf
Information Analysis
                 ic
IC Mean      -0.037
IC Std.       0.107
t-stat(IC)  -11.549
p-value(IC)   0.000
IC Skew      -0.746
IC Kurtosis   1.327
Ann. IR      -0.346
Figure saved: G:\GSICE\code\ZZ800\PEHist120\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
                 min        max      mean       std   count    count %
quantile
1        -636.575501   0.005519 -0.258068  1.975364  181046  20.055210
2          -0.540487   0.037376 -0.021656  0.027030  180546  19.999823
3          -0.095390   0.110913 -0.000663  0.017204  180537  19.998826
4          -0.043560   0.214505  0.017229  0.023852  180546  19.999823
5          -0.003595  89.777432  0.093413  0.675529  180063  19.946319
Figure saved: G:\GSICE\code\ZZ800\Illiquidity\returns_report.pdf
Information Analysis
                ic
IC Mean     -0.017
IC Std.      0.093
t-stat(IC)  -6.399
p-value(IC)  0.000
IC Skew      0.129
IC Kurtosis -0.006
Ann. IR     -0.185
Figure saved: G:\GSICE\code\ZZ800\Illiquidity\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
                   min           max          mean           std   count  \
quantile
1        -7.199904e+08 -5.016786e+06 -2.306396e+07  3.028411e+07  181233
2        -2.896229e+08 -5.143883e+05 -8.618849e+06  5.283026e+06  180742
3        -1.950069e+07  4.687590e+07 -2.998346e+06  2.490361e+06  180736
4        -2.217725e+06  3.504169e+08  5.002156e+06  5.648184e+06  180742
5         3.976978e+06  2.113563e+09  5.253755e+07  9.464932e+07  180254

            count %
quantile
1         20.054398
2         20.000066
3         19.999402
4         20.000066
5         19.946067
Figure saved: G:\GSICE\code\ZZ800\alpha81\returns_report.pdf
Information Analysis
                 ic
IC Mean      -0.045
IC Std.       0.099
t-stat(IC)  -15.729
p-value(IC)   0.000
IC Skew       0.376
IC Kurtosis  -0.115
Ann. IR      -0.455
Figure saved: G:\GSICE\code\ZZ800\alpha81\information_report.pdf

In [215]:
#signals_dict['NetNonOIToTP'].head()

                        signal    return group  quantile
trade_date symbol
20130107   000001.SZ  0.001048  0.349507    银行         4
           000006.SZ -0.043168  0.092696   房地产         3
           000009.SZ  0.048461  0.078386    综合         4
           000012.SZ  0.041797  0.071415  建筑材料         4
           000021.SZ -0.147056 -0.000800   计算机         1

In [218]:
analysis.ic_stats(signals_dict['NetNonOIToTP'])

             return_ic
IC Mean       0.001588
IC Std.       0.078182
t-stat(IC)    0.701915
p-value(IC)   0.482869
IC Skew      -0.174660
IC Kurtosis  -0.381694
Ann. IR       0.020313

In [220]:
ic_pn = pd.Panel({a: analysis.ic_stats(signals_dict[a]) for a in signals_dict.keys()})

In [233]:
alpha_performance=abs(round(ic_pn.minor_xs('return_ic'),2))

In [234]:
alpha_performance

,DEGM,Illiquidity,NOCFToOperatingNILatest,NetNonOIToTP,PEHist120,PeriodCostsRate,alpha81
IC Mean,0.01,0.02,0.01,0.00,0.04,0.00,0.05
IC Std.,0.07,0.09,0.07,0.08,0.11,0.06,0.10
t-stat(IC),2.20,6.40,6.27,0.70,11.55,0.39,15.73
p-value(IC),0.03,0.00,0.00,0.48,0.00,0.70,0.00
IC Skew,0.23,0.13,0.06,0.17,0.75,0.11,0.38
IC Kurtosis,0.39,0.01,0.12,0.38,1.33,0.19,0.11
Ann. IR,0.07,0.19,0.18,0.02,0.35,0.01,0.46

In [235]:
alpha_IR = alpha_performance.loc["Ann. IR"]
alpha_IC = alpha_performance.loc["IC Mean"]

In [236]:
good_alpha = alpha_IC[(alpha_IC>=0.03) & (alpha_IR>=0.25)]

In [238]:
good_alpha_dict = {g: float('%.2f' % good_alpha[g]) for g in good_alpha.index}

In [239]:
good_alpha_dict

{'PEHist120': 0.04, 'alpha81': 0.05}

In [240]:
good_alpha

PEHist120    0.04
alpha81      0.05
Name: IC Mean, dtype: float64

In [241]:
#不用进行行业中性化
signal_dict = {alpha : signal_data(dv.get_ts(alpha), alpha, period=20, quantile=5) for alpha in good_alpha.index}

Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%


Value of signals of Different Quantiles Statistics
               min         max      mean       std   count    count %
quantile
1         0.000000    1.120891  0.596155  0.352231  168601  20.054096
2         0.564900    1.331522  0.911143  0.117127  168144  19.999738
3         0.634730    1.537264  0.990640  0.115696  168145  19.999857
4         0.690208    1.885301  1.089097  0.142540  168144  19.999738
5         0.757089  120.000000  1.724947  3.746390  167697  19.946570
Figure saved: G:\GSICE\code\ZZ800\PEHist120\returns_report.pdf
Information Analysis
                 ic
IC Mean      -0.047
IC Std.       0.143
t-stat(IC)  -10.871
p-value(IC)   0.000
IC Skew      -0.402
IC Kurtosis   0.544
Ann. IR      -0.326
Figure saved: G:\GSICE\code\ZZ800\PEHist120\information_report.pdf
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%


Value of signals of Different Quantiles Statistics
                   min           max          mean           std   count  \
quantile
1         3.320982e-04  5.624571e+07  4.252369e+06  2.686332e+06  181233
2         2.671497e+06  1.889476e+08  9.025616e+06  4.991179e+06  180742
3         4.521127e+06  3.940220e+08  1.507101e+07  8.949363e+06  180736
4         7.038887e+06  9.120897e+08  2.607421e+07  1.658031e+07  180742
5         1.261959e+07  2.551332e+09  8.650987e+07  1.206891e+08  180254

            count %
quantile
1         20.054398
2         20.000066
3         19.999402
4         20.000066
5         19.946067
Figure saved: G:\GSICE\code\ZZ800\alpha81\returns_report.pdf
Information Analysis
                 ic
IC Mean      -0.059
IC Std.       0.172
t-stat(IC)  -11.878
p-value(IC)   0.000
IC Skew       0.461
IC Kurtosis   0.809
Ann. IR      -0.344
Figure saved: G:\GSICE\code\ZZ800\alpha81\information_report.pdf

In [246]:
#signal_dict['PEHist120'].head()

                        signal    return group  quantile
trade_date symbol
20130513   000001.SZ  0.933574 -0.057527    银行         2
           000002.SZ  0.953177 -0.067710   房地产         3
           000006.SZ  0.719961  0.025808   房地产         1
           000009.SZ  1.942343  0.140641    综合         5
           000012.SZ  2.514596  0.278044  建筑材料         5

In [247]:
#signal_dict['PEHist120'].index.levels[0]

Int64Index([20130104, 20130107, 20130108, 20130109, 20130110, 20130111,
            20130114, 20130115, 20130116, 20130117,
            ...
            20171218, 20171219, 20171220, 20171221, 20171222, 20171225,
            20171226, 20171227, 20171228, 20171229],
           dtype='int64', name='trade_date', length=1215)

In [248]:
#signal_dict['PEHist120'].loc[signal_dict['PEHist120'].index.levels[0][-750]:].head()

                        signal    return group  quantile
trade_date symbol
20141208   000001.SZ  1.387944  0.015615    银行         5
           000002.SZ  1.232823  0.156111   房地产         4
           000006.SZ  1.256447  0.003592   房地产         4
           000009.SZ  1.178123 -0.000049    综合         3
           000012.SZ  1.119688  0.032457  建筑材料         3

In [249]:
def ic_length(signal, days=750):
    return signal.loc[signal.index.levels[0][-days]:]

In [255]:
from jaqs_fxdayu.research.signaldigger import performance as pfm

In [256]:
performance_dict = {}
for alpha in good_alpha.index:
    ic = pfm.calc_signal_ic(ic_length(signal_dict[alpha]), by_group=True)
    mean_ic_by_group = pfm.mean_information_coefficient(ic, by_group=True)
    performance_dict[alpha] = round(mean_ic_by_group,2)

In [259]:
#ic.head()

                        ic
trade_date group
2014-12-08 交通运输   0.279130
           休闲服务   0.000000
           传媒     0.153077
           公用事业   0.496334
           农林牧渔   0.081203

In [260]:
#mean_ic_by_group.head()

             ic
group
交通运输  -0.082579
休闲服务  -0.052224
传媒    -0.070953
公用事业  -0.052561
农林牧渔  -0.212016

In [265]:
ic_industry=abs(pd.Panel(performance_dict).minor_xs('ic'))

In [268]:
ic_industry

       PEHist120  alpha81
group
交通运输        0.05     0.08
休闲服务        0.06     0.05
传媒          0.07     0.07
公用事业        0.07     0.05
农林牧渔        0.01     0.21
化工          0.08     0.06
医药生物        0.03     0.08
商业贸易        0.05     0.06
国防军工        0.09     0.03
家用电器        0.01     0.06
建筑材料        0.14     0.12
建筑装饰        0.09     0.02
房地产         0.07     0.08
有色金属        0.07     0.05
机械设备        0.08     0.08
汽车          0.05     0.05
电子          0.03     0.03
电气设备        0.04     0.08
纺织服装        0.11     0.10
综合          0.04     0.05
计算机         0.05     0.04
轻工制造        0.10     0.07
通信          0.10     0.01
采掘          0.09     0.09
钢铁          0.08     0.09
银行          0.02     0.01
非银金融        0.05     0.09
食品饮料        0.00     0.00

In [269]:
High_IC_Industry = pd.DataFrame([ic_industry[ic_industry>=0.05][alpha].dropna(how='all') for alpha in good_alpha.index]).T

In [270]:
High_IC_Industry

      PEHist120  alpha81
交通运输       0.05     0.08
休闲服务       0.06     0.05
传媒         0.07     0.07
公用事业       0.07     0.05
农林牧渔        NaN     0.21
化工         0.08     0.06
医药生物        NaN     0.08
商业贸易       0.05     0.06
国防军工       0.09      NaN
家用电器        NaN     0.06
建筑材料       0.14     0.12
建筑装饰       0.09      NaN
房地产        0.07     0.08
有色金属       0.07     0.05
机械设备       0.08     0.08
汽车         0.05     0.05
电气设备        NaN     0.08
纺织服装       0.11     0.10
综合          NaN     0.05
计算机        0.05      NaN
轻工制造       0.10     0.07
通信         0.10      NaN
采掘         0.09     0.09
钢铁         0.08     0.09
非银金融       0.05     0.09

In [271]:
PEHist120=pd.Series({'name':'PEHist120','data':['pe'],'IC':good_alpha_dict['PEHist120'],'type':'动量类','market':'ZZ800','classify':'sw1','Formula':'{}*pe/Ts_Sum(pe,{})','parameter':[120,120],'description':'PE/过去六个月PE的均值','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['PEHist120'][indu]) for indu in High_IC_Industry['PEHist120'].dropna().index}})

In [275]:
alpha81=pd.Series({'name':'alpha81','data':['volume'],'IC':good_alpha_dict['alpha81'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'SMA(VOLUME,{},{})','parameter':[21,2],'description':'成交量的权重为2的21日移动平均','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['alpha81'][indu]) for indu in High_IC_Industry['alpha81'].dropna().index}})

In [276]:
save_excel = pd.concat([globals()[name] for name in High_IC_Industry.columns],axis=1,keys=High_IC_Industry.columns).T

In [277]:
save_excel

,Formula,High_IC_Industry,IC,classify,data,description,market,name,parameter,type
PEHist120,"{}*pe/Ts_Sum(pe,{})","{'交通运输': 0.05, '休闲服务': 0.06, '传媒': 0.07, '公用事业...",0.04,sw1,[pe],PE/过去六个月PE的均值,ZZ800,PEHist120,"[120, 120]",动量类
alpha81,"SMA(VOLUME,{},{})","{'交通运输': 0.08, '休闲服务': 0.05, '传媒': 0.07, '公用事业...",0.05,sw1,[volume],成交量的权重为2的21日移动平均,ZZ800,alpha81,"[21, 2]",价量类

In [279]:
save_excel.to_excel('8个alpha复现_good_alpha.xlsx')

--------------------------------------------------------
下面的代码忽略
-----------------------------------------------------

In [117]:
df , msg = api.query(view="help.apiList")
api_list=list(df['api'])

In [118]:
field_dict={}
for api_name in api_list:
    df_field,msg_field=api.query(view="help.apiParam",filter=api_name)
    field_dict[api_name]=df_field

In [165]:
search_field='np_parent_comp_ttm'

In [166]:
for api_name in field_dict:
    field_name_list=field_dict[api_name]['param']
    field_name_str=' '.join(list(field_name_list))
    if search_field in field_name_str:
        print (api_name)

In [ ]:
field_dict['jz.secTradeCal'].head()