初始化dataview
---

In [1]:
import jaqs_fxdayu
from jaqs_fxdayu.data import DataView
from jaqs_fxdayu.data.dataservice import LocalDataService
from jaqs_fxdayu.data import RemoteDataService
import os
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [2]:
from jaqs_fxdayu.util import dp
from jaqs.data.dataapi import DataApi

start = 20130101
end = 20180101

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

ZZ800_id = dp.index_cons(api, "000906.SH", start, end)

stock_symbol = list(set(ZZ800_id.symbol.values))

In [3]:
data_config = {
    "remote.data.address": "tcp://data.tushare.org:8910",
    "remote.data.username": "13662241013",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow"
}
Ds=RemoteDataService()
Ds.init_from_config(data_config)

Begin: DataApi login 13662241013@tcp://data.tushare.org:8910
    login success

'0,'

In [4]:
dataview_folder='G:\GSICE\DATA\data'
dv=DataView()
ds=LocalDataService(fp=dataview_folder)

In [5]:
factor_list = ['volume']
check_factor = ','.join(factor_list)

dv_props = {'start_date': 20130101, 'end_date': 20180101, 'symbol':','.join(stock_symbol),'fields': check_factor,
         'freq': 1,
         "prepare_fields": True}

dv.init_from_config(dv_props, data_api=ds)
dv.prepare_data()

Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_status,close,high_adj,volume,open,low_adj,high,vwap_adj,low,close_adj,open_adj,symbol,vwap,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'close,high,open,low,vwap,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Data has been successfully prepared.

构造因子
-------

1.PBHist120

In [6]:
dv.add_field('pb',Ds)
dv.add_formula('PBHist120','120*pb/Ts_Sum(pb,120)',is_quarterly=False,add_data=True).tail()

Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'pb,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.105116,1.126488,1.039640,1.000186,0.843946,0.948099,1.017093,NaN,0.831889,0.916647,...,1.015775,0.747593,0.795575,1.043011,0.939592,0.918840,0.949837,0.783187,1.106296,0.855400
20171226,1.136282,1.129155,1.038840,1.025953,0.847243,0.963226,1.031648,NaN,0.844404,0.919438,...,0.996331,0.767657,0.805443,1.038054,0.949193,0.954861,0.971703,0.805379,1.102866,0.854059
20171227,1.102960,1.137876,1.038136,1.021183,0.849561,0.953942,0.996132,NaN,0.844566,0.916185,...,0.990470,0.753764,0.800005,1.015874,0.965868,0.921189,0.955229,0.789490,1.084750,0.874400
20171228,1.093767,1.132482,1.037300,1.013077,0.848315,0.958643,1.022696,NaN,0.847272,0.916061,...,0.978626,0.752738,0.800247,1.021044,1.001174,0.910171,0.970010,0.805053,1.081120,0.936622
20171229,1.098714,1.143675,1.036464,1.022460,0.855473,0.988909,1.045810,NaN,0.850429,0.921885,...,0.988258,0.758477,0.804875,1.047608,0.994730,0.941775,1.002195,0.810061,1.111018,0.922038

2.turnover_mean20_sd 过去20天成交金额的算术平均再进行20天的min-max标准化（参考广发金工20180305研报）

In [7]:
dv.add_field('turnover',ds)

Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_status,turnover,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [8]:
dv.add_formula('turnover_mean20','Ts_Mean(turnover,20)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,5.328435e+08,6.480876e+08,1.068730e+08,2429673.70,1.133736e+08,1.722551e+08,44736027.25,NaN,7207434.10,26668679.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.678833e+08
20130107,5.351247e+08,5.941028e+08,1.075067e+08,2471917.90,1.141813e+08,1.683796e+08,41092247.35,NaN,7165309.15,26556229.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.658170e+08
20130108,5.358819e+08,5.612781e+08,1.179070e+08,2574457.65,1.201381e+08,1.805841e+08,40493826.60,NaN,7491624.70,26686435.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.714567e+08
20130109,5.242363e+08,5.199295e+08,1.188881e+08,2852511.00,1.274012e+08,1.756423e+08,39906242.85,NaN,7733469.95,26152567.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.679707e+08
20130110,5.093353e+08,4.721584e+08,1.218739e+08,3064779.05,1.310199e+08,1.829876e+08,39632639.10,NaN,7915572.10,25833055.55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.671548e+08

In [9]:
dv.add_formula('turnover_mean20_sd','(turnover_mean20-Ts_Min(turnover_mean20,20))/(Ts_Max(turnover_mean20,20)-Ts_Min(turnover_mean20,20))',is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.000000,0.0,NaN,0.000000,0.142155,0.000000,0.008574,NaN,0.007052,0.866492,...,0.010325,0.00000,0.0,0.008980,0.000000,0.358713,0.327101,0.002146,0.013985,0.000000
20171226,0.000000,0.0,NaN,0.246178,0.117691,0.000000,0.011298,NaN,0.000000,0.958214,...,0.073431,0.01483,0.0,0.000000,0.000000,1.000000,0.283227,0.000000,0.115121,0.000000
20171227,0.000000,0.0,NaN,0.515816,0.030434,0.000000,0.013327,NaN,0.000000,1.000000,...,0.093350,0.00000,0.0,0.000000,0.000000,1.000000,0.448516,0.017778,0.216759,0.000000
20171228,0.009713,0.0,NaN,1.000000,0.156297,0.000000,0.036596,NaN,0.000000,0.877517,...,0.143616,0.00000,0.0,0.019252,0.000000,1.000000,0.490828,0.037864,0.319210,0.089573
20171229,0.000000,0.0,NaN,1.000000,0.206310,0.000356,0.048685,NaN,0.000000,0.909700,...,0.087639,0.00000,0.0,0.046002,0.025115,1.000000,0.792911,0.000000,0.421371,0.019583

3.high_length_minus_low_length 过去20天最高价距离减最低价距离（参考广发金工20170330研报）

In [10]:
dv.add_formula('high_length_minus_low_length','Ts_Argmax(high,20)-Ts_Argmin(low,20)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,19.0,-1.0,15.0,17.0,18.0,19.0,11.0,NaN,13.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0
20130107,18.0,-1.0,14.0,17.0,16.0,18.0,11.0,NaN,12.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
20130108,17.0,-1.0,19.0,16.0,16.0,19.0,11.0,NaN,11.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0
20130109,16.0,-1.0,18.0,15.0,17.0,15.0,11.0,NaN,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0
20130110,12.0,-1.0,17.0,16.0,17.0,17.0,11.0,NaN,7.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0

4.volume_ratio 容量比:前26天上涨的成交量/下跌的成交量（参考广发金工20170330研报）

In [11]:
dv.add_formula('volume_diff','Delta(volume,1)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,6516718.0,0.0,-4564677.0,-14447.0,-5525557.0,-1402899.0,-6636894.0,NaN,-366248.0,513220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2032041.0
20130107,-8668212.0,0.0,-13039574.0,-111707.0,-2812589.0,-7308978.0,-5394520.0,NaN,-9776.0,-1746685.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6104996.0
20130108,-4469013.0,0.0,33969252.0,39401.0,6392728.0,27241820.0,1928155.0,NaN,870229.0,4586543.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6941162.0
20130109,-6114997.0,0.0,-25396848.0,365081.0,5593906.0,-24976605.0,662955.0,NaN,411478.0,-2908881.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6839011.0
20130110,-1129888.0,0.0,1325164.0,-141723.0,-6085964.0,18606691.0,-452524.0,NaN,-634142.0,1298370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5039691.0

In [12]:
dv.add_formula('volume_ratio','Ts_Sum((Abs(volume_diff)+volume_diff)/2,26)/Ts_Sum((Abs(volume_diff)-volume_diff)/2,26)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,1.304781,0.930389,1.240304,1.085078,1.255137,1.217229,1.256064,NaN,0.715819,1.162149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.126622
20130107,1.198132,0.930385,1.051126,1.061629,1.132474,1.101042,1.091684,NaN,0.758252,1.038286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.047345
20130108,1.173808,0.940267,1.392284,1.083933,1.235299,1.416893,1.149210,NaN,0.840407,1.289415,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.121757
20130109,1.032103,0.916677,1.145617,1.529524,1.410150,1.093859,1.164655,NaN,1.058878,1.185019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.067154
20130110,1.106453,0.779117,1.129624,1.415852,1.236461,1.190581,1.145741,NaN,0.783661,1.214067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.092189

5.ETOPHist120

In [13]:
dv.add_field('ETOP',ds)

Query data - query...
当前请求query...
{'fields': 'ETOP', 'view': 'factor'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [14]:
dv.add_formula('ETOPHist120','120*ETOP/Ts_Sum(ETOP,120)',is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.878040,0.905276,1.017082,0.856124,1.167191,1.056932,1.272100,NaN,1.405622,0.888034,...,0.998372,1.202735,0.989659,0.931844,0.962377,0.808630,1.011790,1.230016,0.889457,1.283633
20171226,0.854700,0.902356,1.016750,0.835513,1.161099,1.041255,1.248659,NaN,1.397206,0.890398,...,1.014854,1.172334,0.982212,0.936266,0.956458,0.781534,0.990333,1.196164,0.890856,1.292510
20171227,0.880780,0.894512,1.016320,0.837931,1.159052,1.051753,1.288854,NaN,1.388889,0.895240,...,1.022456,1.194757,0.990169,0.955807,0.940328,0.812361,1.006854,1.217457,0.906096,1.267791
20171228,0.888558,0.898186,1.016022,0.849484,1.161195,1.046504,1.248363,NaN,1.380671,0.900126,...,1.034222,1.196957,0.990457,0.952412,0.910989,0.824968,0.993820,1.193830,0.910843,1.183367
20171229,0.885819,0.888436,1.015724,0.842546,1.150564,1.015095,1.212804,NaN,1.372549,0.897452,...,1.024311,1.186579,0.986842,0.926134,0.915487,0.797756,0.962034,1.190347,0.887719,1.209863

6.TD_intermediate（参照广发金工20170420研报算的一个中间指标）

In [15]:
dv.add_formula('TD_intermediate','If(high>=Ts_Min(low,6) && low<=Ts_Max(high,6),high-Ts_Max(high,6)+low-Ts_Min(low,6),0)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,1.120000e+00,-10.26,0.34,0.20,0.42,0.64,0.15,NaN,-0.06,0.19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.19
20130107,5.300000e-01,0.00,-0.04,-0.25,0.19,0.14,-0.05,NaN,-0.21,0.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.33
20130108,5.100000e-01,0.00,0.31,0.29,0.12,0.21,-0.02,NaN,0.08,0.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.07
20130109,1.776357e-15,0.00,0.02,0.44,0.30,0.26,0.01,NaN,0.18,0.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.07
20130110,-2.100000e-01,0.00,0.02,0.59,0.22,0.40,0.07,NaN,0.05,-0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.11

7.psHist120

In [16]:
dv.add_field('ps',Ds)

Query data - query...
当前请求query_lb_dailyindicator...
{'fields': 'ps,symbol,trade_date'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.

True

In [17]:
dv.add_formula('psHist120','120*ps/Ts_Sum(ps,120)',is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.134419,1.145363,1.059400,1.018550,0.859798,0.986055,1.039051,NaN,0.849319,0.942122,...,1.111656,0.768519,1.065872,1.140283,0.953673,1.249301,1.007350,0.820931,1.195206,0.956117
20171226,1.165952,1.147897,1.058176,1.044572,0.862997,1.001427,1.053592,NaN,0.861818,0.944569,...,1.088335,0.789314,1.075602,1.132945,0.963069,1.293545,1.029647,0.843645,1.189485,0.950057
20171227,1.131206,1.156535,1.057050,1.039544,0.865184,0.991387,1.016948,NaN,0.861688,0.940868,...,1.079890,0.775215,1.064902,1.106857,0.979645,1.243484,1.011295,0.826478,1.167994,0.967792
20171228,1.121394,1.150845,1.055794,1.031101,0.863759,0.995925,1.043678,NaN,0.864162,0.940263,...,1.064971,0.774317,1.061801,1.110628,1.015142,1.224311,1.026051,0.842225,1.162155,1.030954
20171229,1.125958,1.161996,1.054541,1.040439,0.870853,1.026993,1.066898,NaN,0.867099,0.945872,...,1.073398,0.780379,1.064499,1.137605,1.008306,1.262304,1.059180,0.846927,1.192267,1.009096

8.Hur 收盘价减去上一个长度为20天的区间的平均收盘价在过去二十天的和（参考广发金工20170921研报）

In [18]:
def interval_mean(Df,n):
    import numpy as np
    Df_mean=Df.rolling(n).mean().iloc[::n]
    Df_copy=Df.copy()
    Df_copy.loc[:,:]=np.nan
    Df_copy.loc[Df_mean.index]=Df_mean
    Df_copy=Df_copy.fillna(method='ffill')
    #注意这里要用ffill不能用bfill，用bfill就用到未来值了
    return Df_copy

In [19]:
dv.add_formula('Hur','Ts_Sum(close-interval_mean(close,20),20)',is_quarterly=False,add_data=True,register_funcs={'interval_mean':interval_mean}).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,34.350,22.160,10.100,-2.0700,1.050,15.050,1.680,NaN,1.7800,5.8500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5100
20130107,35.397,21.983,10.412,-1.2445,1.938,15.295,1.672,NaN,2.0995,5.8995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2455
20130108,36.024,21.676,10.854,-0.2790,2.836,15.850,1.834,NaN,2.5890,5.9190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.2710
20130109,36.001,21.439,11.096,0.6365,3.694,16.095,1.956,NaN,2.9185,5.7885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.8865
20130110,35.688,21.062,11.408,1.5520,4.382,16.720,2.078,NaN,3.2580,5.5880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.4320

9.close_ratio 前26天上涨的价格量/下跌的价格量

In [20]:
dv.add_formula('close_diff','Delta(close,1)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,-0.03,0.0,-0.02,-0.12,-0.05,-0.05,-0.10,NaN,-0.03,0.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05
20130107,0.31,0.0,-0.01,0.07,0.09,-0.03,0.03,NaN,0.04,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.12
20130108,-0.30,0.0,0.16,0.17,-0.04,0.28,0.01,NaN,0.12,0.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.21
20130109,-0.14,0.0,-0.07,0.16,0.15,-0.02,0.02,NaN,0.02,-0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.10
20130110,0.01,0.0,0.05,0.07,0.00,0.45,0.03,NaN,0.07,-0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.10

In [21]:
dv.add_formula('close_ratio','Ts_Sum((Abs(close_diff)+close_diff)/2,26)/Ts_Sum((Abs(close_diff)-close_diff)/2,26)',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,2.881579,3.073171,2.210526,0.970588,1.335570,2.165049,1.220000,NaN,1.031746,1.928571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.592040
20130107,3.052632,3.024390,2.754098,1.273292,1.691057,2.477778,1.373626,NaN,1.175439,2.342857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.849711
20130108,2.682081,3.542857,3.607843,1.656716,1.857143,3.098765,1.615385,NaN,1.622222,2.718750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.092025
20130109,3.052632,3.414286,3.228070,2.203704,2.534091,3.861538,1.753425,NaN,1.701149,2.558824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.243421
20130110,3.019737,2.957143,3.105263,2.166667,2.420455,4.169231,1.767123,NaN,1.597701,2.342857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.256579

10.LCAPHist120

感觉Hist120是挺好用的一个方法，比如LCAP本来IC是0.02，不达标，但是加了Hist120之后就变成0.07了

In [22]:
dv.add_field('LCAP',ds)

Query data - query...
当前请求query...
{'fields': 'LCAP', 'view': 'factor'}
下载进度398/1219.
下载进度796/1219.
下载进度1194/1219.
WARNING: some data is unavailable:
    At fields 000024.SZ, 000522.SZ, 000527.SZ, 000562.SZ, 000748.SZ, 600005.SH, 600832.SH, 601268.SH, 601299.SH
Query data - daily fields prepared.

True

In [23]:
dv.add_formula('LCAPHist120','120*LCAP/Ts_Sum(LCAP,120)',is_quarterly=False,add_data=True).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1.005042,1.005366,1.002603,1.000887,0.993738,0.999433,1.001717,NaN,0.993106,0.997540,...,1.004421,0.989520,1.002862,1.005700,0.998071,1.009842,1.000329,0.991766,1.007908,0.998716
20171226,1.006088,1.005447,1.002553,1.001943,0.993900,1.000083,1.002311,NaN,0.993733,0.997646,...,1.003558,0.990614,1.003246,1.005431,0.998498,1.011338,1.001240,0.992936,1.007709,0.998421
20171227,1.004923,1.005735,1.002506,1.001735,0.994010,0.999658,1.000793,NaN,0.993729,0.997480,...,1.003243,0.989883,1.002824,1.004466,0.999229,1.009656,1.000491,0.992055,1.006938,0.999106
20171228,1.004579,1.005549,1.002454,1.001392,0.993942,0.999849,1.001904,NaN,0.993849,0.997455,...,1.002678,0.989846,1.002700,1.004607,1.000756,1.008995,1.001096,0.992864,1.006725,1.001543
20171229,1.004731,1.005916,1.002402,1.001769,0.994295,1.001145,1.002849,NaN,0.993998,0.997705,...,1.002998,0.990169,1.002807,1.005602,1.000464,1.010313,1.002421,0.993099,1.007809,1.000686

11.crosssec_weight_vc 成交量（volume)权重为2的20天SMA的横截面权重与收盘价(close)权重为2的20天SMA的横截面权重的乘积

In [24]:
def sum_axis1(Df):
    sum_1=Df.sum(axis=1)
    Df_copy=Df.copy()
    Df_copy.loc[sum_1.index,:]=sum_1.values.reshape(-1,1)
    return Df_copy

In [25]:
def SMA(Df,n,m):
    alpha=m/n
    return Df.ewm(alpha=alpha,adjust=False).mean()

In [26]:
dv.add_formula('crosssec_weight_vc','SMA(volume,20,2)/sum_axis1(SMA(volume,20,2))*SMA(close,20,2)/sum_axis1(SMA(close,20,2))',is_quarterly=False,add_data=True,register_funcs={'SMA':SMA,'sum_axis1':sum_axis1}).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,0.000005,0.000004,5.887107e-10,1.417793e-07,2.888548e-07,6.292148e-07,5.551405e-07,NaN,1.927014e-07,9.739919e-08,...,1.962883e-07,2.992170e-07,6.103241e-08,1.624501e-07,9.576533e-08,2.014873e-07,2.872772e-07,1.420153e-07,1.737990e-07,0.000002
20171226,0.000005,0.000004,5.331798e-10,1.550920e-07,2.819981e-07,5.927594e-07,5.439782e-07,NaN,1.897188e-07,9.570869e-08,...,2.120961e-07,3.066019e-07,5.853504e-08,1.571108e-07,8.998963e-08,2.342607e-07,2.803226e-07,1.377301e-07,1.849732e-07,0.000002
20171227,0.000005,0.000004,4.759761e-10,1.647784e-07,2.774915e-07,5.501245e-07,5.305078e-07,NaN,1.839049e-07,9.303491e-08,...,2.094838e-07,3.157046e-07,5.664228e-08,1.513889e-07,8.689981e-08,2.401886e-07,2.770528e-07,1.347944e-07,1.926981e-07,0.000002
20171228,0.000005,0.000004,4.212830e-10,1.671963e-07,2.832657e-07,5.138532e-07,5.173362e-07,NaN,1.795974e-07,9.027920e-08,...,2.076725e-07,3.152921e-07,5.430694e-08,1.509629e-07,8.801037e-08,2.284455e-07,2.689710e-07,1.283569e-07,1.913397e-07,0.000002
20171229,0.000005,0.000004,3.814548e-10,1.803943e-07,2.808495e-07,5.528871e-07,5.252827e-07,NaN,1.727145e-07,8.821810e-08,...,1.991868e-07,3.044971e-07,5.216571e-08,1.532612e-07,9.024436e-08,2.293867e-07,2.888552e-07,1.232408e-07,2.011995e-07,0.000003

12.Factor1 以收盘价横截面比值为权重的最高价和vwap的加权和在过去四天的变化值的横截面排序

In [27]:
def sum_axis1(Df):
    sum_1=Df.sum(axis=1)
    Df_copy=Df.copy()
    Df_copy.loc[sum_1.index,:]=sum_1.values.reshape(-1,1)
    return Df_copy

In [28]:
dv.add_formula('Factor1','Rank(Delta(((high*close/sum_axis1(close)) + (vwap *(1-close/sum_axis1(close)))), 4) )',is_quarterly=False,add_data=True,register_funcs={'sum_axis1':sum_axis1}).tail()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20171225,1071.0,1181.0,761.0,909.0,728.0,620.0,483.0,NaN,27.0,866.0,...,1069.0,35.0,170.0,1039.0,38.0,31.0,1055.0,32.0,402.0,539.0
20171226,1023.0,1184.0,763.0,891.0,675.0,760.0,593.0,NaN,82.0,720.0,...,70.0,1085.0,983.0,1036.0,28.0,1193.0,663.0,65.0,88.0,480.0
20171227,762.0,1177.0,647.0,963.0,899.0,773.0,253.0,NaN,335.0,737.0,...,10.0,1125.0,847.0,100.0,87.0,1022.0,310.0,148.0,56.0,857.0
20171228,286.0,1131.0,701.0,921.0,590.0,459.0,238.0,NaN,278.0,488.0,...,12.0,148.0,379.0,223.0,484.0,280.0,526.0,232.0,56.0,1091.0
20171229,186.0,1053.0,488.0,953.0,471.0,1037.0,846.0,NaN,842.0,404.0,...,11.0,857.0,395.0,804.0,1178.0,1183.0,1097.0,893.0,187.0,1067.0

13.Factor2 在成交量比前五天成交量高（或低）时分别取前五天的最高价（或最低价）

In [29]:
dv.add_formula('Factor2','If(volume>Delay(volume,5),Ts_Max(high,5),Ts_Min(low,5))',is_quarterly=False,add_data=True).head()

symbol,000001.SZ,000002.SZ,000006.SZ,000008.SZ,000009.SZ,000012.SZ,000021.SZ,000024.SZ,000025.SZ,000027.SZ,...,603833.SH,603858.SH,603866.SH,603868.SH,603877.SH,603883.SH,603885.SH,603888.SH,603899.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20130104,15.25,0.0,4.70,10.99,8.43,7.76,4.78,NaN,6.06,5.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.03
20130107,16.45,0.0,4.70,10.99,8.43,7.94,4.50,NaN,6.06,5.83,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.03
20130108,16.45,0.0,5.30,10.32,8.96,8.63,4.53,NaN,6.30,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.03
20130109,16.45,0.0,4.79,11.14,9.06,8.10,4.56,NaN,6.50,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.11
20130110,15.79,0.0,4.82,11.24,8.64,8.95,4.56,NaN,6.50,6.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.11

测试因子
--------

In [30]:
dv.add_field('sw1',ds)

True

In [31]:
from jaqs_fxdayu.util import dp
from jaqs_fxdayu.data.dataapi import DataApi

api = DataApi(addr='tcp://data.tushare.org:8910')
api.login("13662241013", 
          'eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTc2NDQzMzg5MTIiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NjIyNDEwMTMifQ.sVIzI5VLqq8fbZCW6yZZW0ClaCkcZpFqpiK944AHEow'
)

start = 20130101
end = 20180101

id_member=dp.daily_index_cons(api,'000906.SH',start,end)

In [32]:
mask=~id_member

In [33]:
import numpy as np

def limit_up_down():
    trade_status = dv.get_ts('trade_status').fillna(0)
    mask_sus = trade_status == 0
    up_limit = dv.add_formula('up_limit', '(close - Delay(close, 1)) / Delay(close, 1) > 0.095', is_quarterly=False)
    down_limit = dv.add_formula('down_limit', '(close - Delay(close, 1)) / Delay(close, 1) < -0.095', is_quarterly=False)
    can_enter = np.logical_and(up_limit < 1, ~mask_sus) 
    can_exit = np.logical_and(down_limit < 1, ~mask_sus) 
    return can_enter,can_exit

In [34]:
can_enter,can_exit=limit_up_down()

In [35]:
price=dv.get_ts('close_adj')
sw1=dv.get_ts('sw1')
enter=can_enter
exit=can_exit
mask=mask

In [36]:
import matplotlib.pyplot as plt
from jaqs_fxdayu.research import SignalDigger
from jaqs_fxdayu.research.signaldigger import analysis

def cal_obj(signal, name, period, quantile):
    obj = SignalDigger(output_folder="ZZ800/%s" % name,
                       output_format='pdf')
    obj.process_signal_before_analysis(signal,
                                   price=price,
                                   n_quantiles=quantile, period=period,
                                   mask=mask,
                                   group=sw1,
                                   can_enter = enter,
                                   can_exit = exit,
                                   commission = 0.0008
                                   )
    #obj.create_full_report()
    return obj

def plot_pfm(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    plt.show()
def signal_data(signal, name, period=5, quantile=5):
    obj = cal_obj(signal, name, period, quantile)
    return obj.signal_data

In [37]:
from jaqs_fxdayu.research.signaldigger.process import neutralize

In [38]:
def ic_length(signal, days=750):
    return signal.loc[signal.index.levels[0][-days]:]

In [39]:
from jaqs_fxdayu.research.signaldigger import performance as pfm

测试因子的IC和IR

In [59]:
alpha_signal=['PBHist120','turnover_mean20_sd','high_length_minus_low_length','volume_ratio',
              'ETOPHist120','TD_intermediate','psHist120',
              'Hur','close_ratio','LCAPHist120','crosssec_weight_vc','Factor1','Factor2']

In [40]:
neutralize_dict={a:neutralize(factor_df=dv.get_ts(a),group=dv.get_ts('sw1')) for a in alpha_signal}
signals_dict = {a:signal_data(neutralize_dict[a], a, 20) for a in alpha_signal} 
ic_pn = pd.Panel({a: analysis.ic_stats(signals_dict[a]) for a in signals_dict.keys()})
alpha_performance=abs(round(ic_pn.minor_xs('return_ic'),2))
alpha_IR = alpha_performance.loc["Ann. IR"]
alpha_IC = alpha_performance.loc["IC Mean"]
good_alpha = alpha_IC[(alpha_IC>=0.03) & (alpha_IR>=0.25)]
good_alpha_dict = {g: float('%.2f' % good_alpha[g]) for g in good_alpha.index}
good_alpha_dict

Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%

{'ETOPHist120': 0.04,
 'Factor1': 0.04,
 'Factor2': 0.03,
 'Hur': 0.04,
 'LCAPHist120': 0.07,
 'PBHist120': 0.06,
 'TD_intermediate': 0.03,
 'close_ratio': 0.03,
 'crosssec_weight_vc': 0.06,
 'high_length_minus_low_length': 0.04,
 'psHist120': 0.06,
 'turnover_mean20_sd': 0.04,
 'volume_ratio': 0.03}

找出高IC行业

In [41]:
signal_dict_industry = {alpha : signal_data(dv.get_ts(alpha), alpha, period=20, quantile=5) for alpha in good_alpha.index}
performance_dict = {}
for alpha in good_alpha.index:
    ic = pfm.calc_signal_ic(ic_length(signal_dict_industry[alpha]), by_group=True)
    mean_ic_by_group = pfm.mean_information_coefficient(ic, by_group=True)
    performance_dict[alpha] = round(mean_ic_by_group,2)
ic_industry=abs(pd.Panel(performance_dict).minor_xs('ic'))
High_IC_Industry = pd.DataFrame([ic_industry[ic_industry>=0.05][alpha].dropna(how='all') for alpha in good_alpha.index]).T

Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 57%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%
Nan Data Count (should be zero) : 0;  Percentage of effective data: 61%

In [42]:
High_IC_Industry.head()

,ETOPHist120,Factor1,Factor2,Hur,LCAPHist120,PBHist120,TD_intermediate,close_ratio,crosssec_weight_vc,high_length_minus_low_length,psHist120,turnover_mean20_sd,volume_ratio
交通运输,0.07,NaN,NaN,0.09,0.09,0.08,NaN,0.05,0.14,NaN,0.07,0.07,NaN
休闲服务,0.10,NaN,0.05,0.09,0.13,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
传媒,0.07,0.07,0.05,NaN,0.09,0.06,0.06,0.07,0.11,0.07,0.07,0.07,0.05
公用事业,0.10,NaN,NaN,0.05,0.10,0.13,NaN,0.06,0.06,NaN,0.08,0.05,NaN
农林牧渔,NaN,NaN,0.10,NaN,NaN,0.08,NaN,NaN,0.19,NaN,NaN,NaN,NaN

输出因子总结
----

In [44]:
PBHist120=pd.Series({'name':'PBHist120','data':['pb'],'IC':good_alpha_dict['PBHist120'],'type':'动量类','market':'ZZ800','classify':'sw1','Formula':'{}*pb/Ts_Sum(pb,{})','parameter':[120,120],'description':'PB/过去六个月PB的均值','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['PBHist120'][indu]) for indu in High_IC_Industry['PBHist120'].dropna().index}})

In [45]:
turnover_mean20_sd=pd.Series({'name':'turnover_mean20_sd','data':['turnover'],'IC':good_alpha_dict['turnover_mean20_sd'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'(turnover_mean20-Ts_Min(turnover_mean20,{}))/(Ts_Max(turnover_mean20,{})-Ts_Min(turnover_mean20,{}))','parameter':[20,20,20],'description':'过去20天成交金额的算术平均再进行20天的min-max标准化','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['turnover_mean20_sd'][indu]) for indu in High_IC_Industry['turnover_mean20_sd'].dropna().index}})

In [46]:
high_length_minus_low_length=pd.Series({'name':'high_length_minus_low_length','data':['high','low'],'IC':good_alpha_dict['high_length_minus_low_length'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'Ts_Argmax(high,{})-Ts_Argmin(low,{})','parameter':[20,20],'description':'过去20天最高价距离减最低价距离','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['high_length_minus_low_length'][indu]) for indu in High_IC_Industry['high_length_minus_low_length'].dropna().index}})

In [47]:
volume_ratio=pd.Series({'name':'volume_ratio','data':['volume'],'IC':good_alpha_dict['volume_ratio'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'Ts_Sum((Abs(volume_diff)+volume_diff)/2,{})/Ts_Sum((Abs(volume_diff)-volume_diff)/2,{})','parameter':[26,26],'description':'前26天上涨的成交量/下跌的成交量','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['volume_ratio'][indu]) for indu in High_IC_Industry['volume_ratio'].dropna().index}})

In [63]:
ETOPHist120=pd.Series({'name':'ETOPHist120','data':['ETOP'],'IC':good_alpha_dict['ETOPHist120'],'type':'动量类','market':'ZZ800','classify':'sw1','Formula':'{}*ETOP/Ts_Sum(ETOP,{})','parameter':[120,120],'description':'ETOP/过去六个月ETOP的均值','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['ETOPHist120'][indu]) for indu in High_IC_Industry['ETOPHist120'].dropna().index}})

In [49]:
TD_intermediate=pd.Series({'name':'TD_intermediate','data':['high','low'],'IC':good_alpha_dict['TD_intermediate'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'If(high>=Ts_Min(low,{}) && low<=Ts_Max(high,{}),high-Ts_Max(high,{})+low-Ts_Min(low,{}),0)','parameter':[6,6,6,6],'description':'若最高价高于过于6天的最低价且最低价低于过去6天的最高价则为最高价减过去6天的最高价+最低价减过去6天的最低价，否则为0','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['TD_intermediate'][indu]) for indu in High_IC_Industry['TD_intermediate'].dropna().index}})

In [62]:
psHist120=pd.Series({'name':'psHist120','data':['ps'],'IC':good_alpha_dict['psHist120'],'type':'动量类','market':'ZZ800','classify':'sw1','Formula':'{}*ps/Ts_Sum(ps,{})','parameter':[120,120],'description':'PS/过去六个月PS的均值','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['psHist120'][indu]) for indu in High_IC_Industry['psHist120'].dropna().index}})

In [51]:
Hur=pd.Series({'name':'Hur','data':['close'],'IC':good_alpha_dict['Hur'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'Ts_Sum(close-interval_mean(close,{}),{})','parameter':[20,20],'description':'收盘价减去上一个长度为20天的区间的平均收盘价在过去二十天的和','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['Hur'][indu]) for indu in High_IC_Industry['Hur'].dropna().index}})

In [52]:
close_ratio=pd.Series({'name':'close_ratio','data':['close'],'IC':good_alpha_dict['close_ratio'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'Ts_Sum((Abs(close_diff)+close_diff)/2,{})/Ts_Sum((Abs(close_diff)-close_diff)/2,{})','parameter':[26,26],'description':'前26天上涨的价格量/下跌的价格量','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['close_ratio'][indu]) for indu in High_IC_Industry['close_ratio'].dropna().index}})

In [64]:
LCAPHist120=pd.Series({'name':'LCAPHist120','data':['LCAP'],'IC':good_alpha_dict['LCAPHist120'],'type':'动量类','market':'ZZ800','classify':'sw1','Formula':'{}*LCAP/Ts_Sum(LCAP,{})','parameter':[120,120],'description':'LCAP/过去六个月LCAP的均值','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['LCAPHist120'][indu]) for indu in High_IC_Industry['LCAPHist120'].dropna().index}})

In [54]:
crosssec_weight_vc=pd.Series({'name':'crosssec_weight_vc','data':['volume','close'],'IC':good_alpha_dict['crosssec_weight_vc'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'SMA(volume,{},{})/sum_axis1(SMA(volume,{},{}))*SMA(close,{},{})/sum_axis1(SMA(close,{},{}))','parameter':[20,2,20,2,20,2,20,2],'description':'成交量（volume)权重为2的20天SMA的横截面权重与收盘价(close)权重为2的20天SMA的横截面权重的乘积','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['crosssec_weight_vc'][indu]) for indu in High_IC_Industry['crosssec_weight_vc'].dropna().index}})

In [57]:
Factor1=pd.Series({'name':'Factor1','data':['high','close','vwap'],'IC':good_alpha_dict['Factor1'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'Rank(Delta(((high*close/sum_axis1(close)) + (vwap *(1-close/sum_axis1(close)))), {}) )','parameter':[4],'description':'以收盘价横截面比值为权重的最高价和vwap的加权和在过去四天的变化值的横截面排序','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['Factor1'][indu]) for indu in High_IC_Industry['Factor1'].dropna().index}})

In [58]:
Factor2=pd.Series({'name':'Factor2','data':['volume','high','low'],'IC':good_alpha_dict['Factor2'],'type':'价量类','market':'ZZ800','classify':'sw1','Formula':'If(volume>Delay(volume,{}),Ts_Max(high,{}),Ts_Min(low,{}))','parameter':[5,5,5],'description':'在成交量比前五天成交量高（或低）时分别取前五天的最高价（或最低价）','High_IC_Industry': {indu: float('%.2f' % High_IC_Industry['Factor2'][indu]) for indu in High_IC_Industry['Factor2'].dropna().index}})

In [65]:
save_excel = pd.concat([globals()[name] for name in High_IC_Industry.columns],axis=1,keys=High_IC_Industry.columns).T

In [66]:
save_excel

,Formula,High_IC_Industry,IC,classify,data,description,market,name,parameter,type
ETOPHist120,"{}*ETOP/Ts_Sum(ETOP,{})","{'交通运输': 0.07, '休闲服务': 0.1, '传媒': 0.07, '公用事业'...",0.04,sw1,[ETOP],ETOP/过去六个月ETOP的均值,ZZ800,ETOPHist120,"[120, 120]",动量类
Factor1,Rank(Delta(((high*close/sum_axis1(close)) + (v...,"{'传媒': 0.07, '国防军工': 0.08, '建筑材料': 0.08, '房地产'...",0.04,sw1,"[high, close, vwap]",以收盘价横截面比值为权重的最高价和vwap的加权和在过去四天的变化值的横截面排序,ZZ800,Factor1,[4],价量类
Factor2,"If(volume>Delay(volume,{}),Ts_Max(high,{}),Ts_...","{'休闲服务': 0.05, '传媒': 0.05, '农林牧渔': 0.1, '商业贸易'...",0.03,sw1,"[volume, high, low]",在成交量比前五天成交量高（或低）时分别取前五天的最高价（或最低价）,ZZ800,Factor2,"[5, 5, 5]",价量类
Hur,"Ts_Sum(close-interval_mean(close,{}),{})","{'交通运输': 0.09, '休闲服务': 0.09, '公用事业': 0.05, '化工...",0.04,sw1,[close],收盘价减去上一个长度为20天的区间的平均收盘价在过去二十天的和,ZZ800,Hur,"[20, 20]",价量类
LCAPHist120,"{}*LCAP/Ts_Sum(LCAP,{})","{'交通运输': 0.09, '休闲服务': 0.13, '传媒': 0.09, '公用事业...",0.07,sw1,[LCAP],LCAP/过去六个月LCAP的均值,ZZ800,LCAPHist120,"[120, 120]",动量类
PBHist120,"{}*pb/Ts_Sum(pb,{})","{'交通运输': 0.08, '休闲服务': 0.05, '传媒': 0.06, '公用事业...",0.06,sw1,[pb],PB/过去六个月PB的均值,ZZ800,PBHist120,"[120, 120]",动量类
TD_intermediate,"If(high>=Ts_Min(low,{}) && low<=Ts_Max(high,{}...","{'传媒': 0.06, '国防军工': 0.06, '建筑材料': 0.07, '电子':...",0.03,sw1,"[high, low]",若最高价高于过于6天的最低价且最低价低于过去6天的最高价则为最高价减过去6天的最高价+最低价...,ZZ800,TD_intermediate,"[6, 6, 6, 6]",价量类
close_ratio,"Ts_Sum((Abs(close_diff)+close_diff)/2,{})/Ts_S...","{'交通运输': 0.05, '传媒': 0.07, '公用事业': 0.06, '化工':...",0.03,sw1,[close],前26天上涨的价格量/下跌的价格量,ZZ800,close_ratio,"[26, 26]",价量类
crosssec_weight_vc,"SMA(volume,{},{})/sum_axis1(SMA(volume,{},{}))...","{'交通运输': 0.14, '传媒': 0.11, '公用事业': 0.06, '农林牧渔...",0.06,sw1,"[volume, close]",成交量（volume)权重为2的20天SMA的横截面权重与收盘价(close)权重为2的20...,ZZ800,crosssec_weight_vc,"[20, 2, 20, 2, 20, 2, 20, 2]",价量类
high_length_minus_low_length,"Ts_Argmax(high,{})-Ts_Argmin(low,{})","{'传媒': 0.07, '化工': 0.05, '商业贸易': 0.05, '国防军工':...",0.04,sw1,"[high, low]",过去20天最高价距离减最低价距离,ZZ800,high_length_minus_low_length,"[20, 20]",价量类
psHist120,"{}*ps/Ts_Sum(ps,{})","{'交通运输': 0.07, '传媒': 0.07, '公用事业': 0.08, '化工':...",0.06,sw1,[ps],PS/过去六个月PS的均值,ZZ800,psHist120,"[120, 120]",动量类
turnover_mean20_sd,"(turnover_mean20-Ts_Min(turnover_mean20,{}))/(...","{'交通运输': 0.07, '传媒': 0.07, '公用事业': 0.05, '化工':...",0.04,sw1,[turnover],过去20天成交金额的算术平均再进行20天的min-max标准化,ZZ800,turnover_mean20_sd,"[20, 20, 20]",价量类
volume_ratio,"Ts_Sum((Abs(volume_diff)+volume_diff)/2,{})/Ts...","{'传媒': 0.05, '商业贸易': 0.05, '国防军工': 0.08, '建筑材料...",0.03,sw1,[volume],前26天上涨的成交量/下跌的成交量,ZZ800,volume_ratio,"[26, 26]",价量类

In [67]:
save_excel.to_excel('10个alpha创造_good_alpha.xlsx')